@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-purple: 121, 120, 217;
  --color-second-gray: 72, 72, 72;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

button {
  background-color: #7978d9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
